* {
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
}

main {
    height: 90vh;
    color: aliceblue;
    background-image: url("https://10websites-design-to-html-css.netlify.app/automotive-car-design/car-bg.jpg");
    background-size: cover;
    background-position: center;

}

header {
    font-size: 24px;
    font-family: 700;
    padding: 25px 29px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.logo p {
    margin-top: 7px;
    transition-duration: 0.4s;

}

.card p:hover {
    color: coral;
}

.card,
.logo {
    display: flex;
}

li>a {
    color: aliceblue;
    text-decoration: none;
    padding: 14px;
    transition-duration: 0.4s;
}

.last-child {
    background-color: #030b9f;
}

li>a:hover {
    color: coral;
}

img {
    width: 60px;
    height: 50px;
}

.apointment {
    position: relative;
    top: 35%;
    left: 15%;

}

h1 {
    font-size: 75px;
    color: #030b9f;
}

.apointment>p,
button {
    margin: 5px;
    font-weight: 700;
    font-size: 35px;
}

button {
    background-color: #030b9f;
    border: none;
    border-radius: 9px;
    color: aliceblue;
    transition-duration: 0.9s;
}

button:hover {
    background-color: coral;
    color: white;
}

footer {
    color: white;
}

footer>ul {
    display: flex;
    justify-content: space-around;
}

li>strong {
    color: #030b9f;
    font-size: larger;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    align-items: center;

}

.icon {
    display: none;
}

@media(max-width:820px) {
    .last-child {
        display: block;
    }

    .logo p {
        margin-top: 14px;
    }

    * {

        font-size: 13px;
    }

    h1 {
        font-size: 50px;
    }

    .apointment>p,
    button {
        margin: 3px;
        font-weight: 400;
        font-size: 20px;
    }
}

@media(max-width:600px) {
    header {
        padding: 20px 10px;
        justify-content: space-between;
        margin: 3px 11px;
    }

    ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    h1 {
        font-size: 39px;
    }

    .drop-menu {
        display: none;
    }

    .icon {
        cursor: pointer;
        display: unset;
    }

    .icon>i {
        font-weight: 600;
        font-size: 29px;
    }

    .show-nav {
        display: flex;
    }

}